<html>
    <%- include("includes/head.ejs") %>

    <body>
        <div class="container">
            <div class="card rounded-lg shadow-2xl">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </body>
</html>